<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ControlzEx" version="3.0.2.4" targetFramework="net452" />
  <package id="FakeItEasy" version="5.1.1" targetFramework="net452" />
  <package id="FluentFTP" version="27.0.2" targetFramework="net452" />
  <package id="MahApps.Metro" version="1.6.5" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net452" />
  <package id="NUnit" version="3.12.0" targetFramework="net452" />
</packages>